// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.exec-cmd {
}
.exec-cmd-main-element:after {
  display: table;
  content: '';
  clear: both;
  height: 100px;
}
.exec-cmd-container {
  float: left;
  width: 50%;
  height: 20%;
  border: 1px dotted grey;
}
.exec-cmd-box {
  margin: 0 auto;;
  padding: 0;
  box-sizing: border-box;
}
.exec-cmd-textarea {
  width: 100%;
  height: 100%;
  background-color: #2b2a2a;
  font-style: normal;
  font-family: monospace;
  // resize: none;
}
